<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Series y películas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col sizeMd="4" offSetMd="4">
          <ion-list>
          <ion-item *ngFor="let movie of movies" [routerLink]="['/details/'+ movie.id]">
            <ion-avatar slot="start">
              <img src="{{movie.image_thumbnail_path}}">
            </ion-avatar>
            <ion-label>{{movie.name}}</ion-label>
          </ion-item>
        </ion-list>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
